h3 {
    color: #007bff; /* Bootstrap primary color for consistency */
}

#hero {
    background: url('assets/background_a.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

footer {
    margin-top: 4rem;
    padding: 2rem 0;
    background: #f8f9fa;
    color: #6c757d;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}

.b-example-divider {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }