header {
    position: sticky;
    top: 0px;
    background-color: rgb(206, 163, 70);
    border-bottom: solid rgb(0, 0, 0, 0.2);
    border-width: 3px;
    z-index: 1;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .2), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h3 {
    color: #007bff;
}

#hero {
    background: url('assets/background_c.jpg') no-repeat center bottom;
    background-size: cover;
    color: #fff;
    border-radius: 0;
}

#title-wrapper {
    padding-left: 0;
    padding-right: 0;
}

#title {
    left: 0px;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.lead {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

a.lolink {
    color: #6c6c6c; /* Dark gray color */
}

footer {
    margin-top: 4rem;
    padding: 2rem 0;
    background: #f8f9fa;
    background-color: rgba(206, 163, 70, 0.5);
    color: #6c757d;
}

section:nth-of-type(n+3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-divider {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: .5rem;
}

.form {
    padding: .5rem;
    width: 90%;
}

textarea {
    width: 100%;
}

#contents-wrapper {
    padding-top: 1rem;
    background-color: rgb(255, 216, 168);
    border: solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    left: 0px;
    width: max-content;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#contents {
    left: 0px;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
}

#jump {
    padding-left: 0.5rem;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}

section:not(#action) .card {
    transition: all 0.3s ease; /* Smooth transition for all properties */
    cursor: pointer;
}

section:not(#action) .card:hover {
    transform: translateY(-5px);  /* Lift the card slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Add a more pronounced shadow */
}

/* ---------------------------------------- */
/* Popup styling for card/feature expansion */
/* ---------------------------------------- */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease; /* Transition only for opacity */
    pointer-events: none; /* Disable clicks when hidden */
}

.popup.active {
    opacity: 1; /* Visible when active */
    pointer-events: auto; /* Enable clicks when visible */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); /* Initial scale */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    transition: transform 0.3s ease; /* Transition only for transform */
}

.popup.active .popup-content {
    transform: translate(-50%, -50%) scale(1); /* Full scale when active */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* ------------------------------- */
/* Styling for expandable sections */
/* ------------------------------- */

.expandable_section {
	--padding: 5px;
	--border-radius: 5px;
	
	width: 100%;
}

.expandable_card_wrapper {
	padding-top: 1rem;
    padding-bottom: .5rem;
}

.expandable_card {
	width: 100%;
	display: grid;
	grid-template-columns: 30px 20% auto 90px;
    gap: .1rem;
	background: rgb(255, 216, 168);
	padding: var(--padding);
	border: solid rgba(0, 0, 0, 0.05);
	border-radius: var(--border-radius);
	font-size: 1em;
    cursor: pointer;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .08), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.expandable_card-open .expandable_content_wrapper {
	grid-template-rows: 1fr;
}

.expandable_card-open .expandable_content {
	padding: 5px;
}

.expandable_icon {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.expandable_title {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.expandable_body {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.expandable_footer {
	padding: 5px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(maxcontent, 1fr));
    grid-gap: .1rem;
}

.expandable_content {
	padding: 0px;
	line-height: 1.4;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 5px;
	overflow: hidden;
}

.expandable_content_wrapper {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease-out;
	
}

/* ---------------------------- */
/* Styling for drop-down button */
/* ---------------------------- */

.dropbtn {
    background-color: transparent;
    border: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}